.contents {
  display: flex;
}

.details_wrap {
  flex: 1 1 70%;
  background: pink;
}

.list {
  flex: 1 1 30%;
  background-color: beige;
}

.video {
}

.description {
  white-space: pre-wrap;
}

/*780*/
@media screen and (max-width: 780px) {
  .contents {
    flex-direction: column;
  }

  .details_wrap {
    flex-basis: 100%;
  }
}
